html {
  font-family: 'PT Serif'(regular) ;
}
body {
  background-color: #c9b5ab:
}
h2 {
  font-size: 1.125rem;
  color: #3f1622;

}
.to {
  font-style: 'PT sans'(bold);
}
blockquote {
  font: 'PT serif'(italic);
  font-size: 1.125rem;
}
cite {
  font-size: 0.8rem;
}

h3 {
  font-size: 0.8rem;
}
ol {
  order: "alphabetic"
}
dl dd {
  font-style: "PT sans"(bold)
}
.Red {
  color : #8f2440;
}
