html {
  font-family: "PT Sans";
  font-weight: normal;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Serif", sans-serif;
  font-weight: bolder;
  line-height: 1.5;
  background-color: #c9b5ab;
}

h1 {
  color: #3f1622;
}

li, a {
  list-style-type: none;
  text-decoration: none;
  color: #8f2440;
  font-weight: bold;
}

figcaption {
  font-weight: normal;
  font-style: italic;
  line-height: 1.5em;
  color: #222;
}

figure figcaption {
  text-align: center;
}

h2 {
  color: #3f1622;
}

.common {
  list-style-type: lower-greek;
}

h2, ul, li {
  list-style-type: circle;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav a:hover {
  background-color: #3f1622;
}

img {
  width: 100%;
}

aside ul li {
  color: #222;
  font-weight: normal;
}
